.recruiter-header {
  height: 80px;
  background: #b6b6b6;
  border-bottom: 1px solid #ddd;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.profile-icon-container{
  cursor: pointer;
}
.header-title {
  font-size: 28px;
  font-weight: bold;
  color: tomato;
  cursor: pointer;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-btn {
  padding: 6px 12px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.logout-btn:hover{
  background-color: #fb1616;
}
