.recruiter-login-page-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
    
}

.input-handler-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.recruiter-mini-container{
    border: 2px solid #000;
    padding: 55px;
    border-radius: 10px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button{
    margin-top: 10px;
    padding: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    height: 40px;
}

button:hover{
    background-color: #0000ff;

}

.input-field{
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.label{
    font-weight: 400;
}