.recruiter-applicant-page-container{
    display: flex;
    height: 100vh;
}
.recruiter-applicant-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 20%;
}