.admin-singup-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.admin-mini-signup-page-container{
    border: 2px solid #000;
    padding: 55px;
    border-radius: 10px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-sign-link-to-login{
    text-align: center;
}

.admin-signup-page-button-container{
    display: flex;
    justify-content: center;
}

.admin-signup-button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border-width: 0px;
    background-color: rgb(9, 248, 164);
    color: #000;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 8px;
}
.admin-signup-button:hover{
    background-color: aquamarine;
}
.admin-error-msg{
    color: rgb(255, 68, 0);
}
.error-msg{
    color: rgb(255, 68, 0);
}

.data-error-msg{
    text-align: center;
}