.applicant-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.applicant-role-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-role-btn{         
    height: 45px;
    width: 82px;
    border-radius: 5px;
    background-color: lightgreen;
    border-width: 0px;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}