.applicant-dashboard-page-container{
    margin-left: 260px;
    padding: 40px;
    width: calc(100% - 260px);
    margin-top: 80px;
}

.applicant-dashboard-page-loader-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
@media (max-width: 600px) {
    .applicant-dashboard-page-container{
        margin-left: 0px;
        width: 100%;
    }
    .applicant-dashboard-page-loader-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .applicant-dashboard-page-container{
        margin-left: 200px;
        width: calc(100% - 200px);
    }
    .applicant-dashboard-page-loader-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}