.recruiter-home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh ;
}

.recruiter-role-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.rec-role-btn{         
    height: 45px;
    width: 82px;
    border-radius: 5px;
    background-color: lightcoral;
    border-width: 0px;
    font-size: 14px;
    font-weight: 600;
    margin: 10px;
    cursor: pointer;
}
