.applicant-applied-jobs-container{
    margin-left: 260px;
    padding: 40px;
    width: calc(100% - 260px);
    margin-top: 80px;
}

.loader-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.my-applicant-job-heading{
        text-align: center;
        margin-bottom: 20px;
}
@media (max-width: 600px) {
    .applicant-applied-jobs-container{
        margin-left: 0px;
        width: 100%;
    }
    .my-applicant-job-heading{
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .applicant-applied-jobs-container{
        margin-left: 200px;
        width: calc(100% - 200px);
    }
    .my-applicant-job-heading{
        text-align: center;
        margin-bottom: 20px;
    }
}
.my-applicant-list-container{
    list-style-type: none;
    margin: 0;
}

.my-applicant-list-item{
    padding: 20px;
    border: 2px solid #dfe3eb;
    border-radius: 10px;
    background: #f8faff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
    cursor: pointer;
}
.status-badge {
  padding: 6px 10px;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.status-accepted {
  background: green;
}

.status-rejected {
  background: red;
}

.status-reviewed {
  background: orange;
}

.status-pending {
  background: gray;
}