.login-type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #F0F2F5; */
  background-color: #F7F7F7;
  height: 100vh;
}

.indise-login-type-container {
  display: flex;
  flex-wrap: wrap;      
  justify-content: center;
  gap: 20px;            
  width: 100%;
  max-width: 900px;     
}

.role-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

.role-btn {
  width: 250px;         
  height: 150px;        
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background-color: #0697f1;
  color: white;
  transition: 0.3s;
}

.role-btn:hover {
  background-color: #0fd7f6;
  transform: scale(1.03);
}

.role-btn:active {
  transform: scale(0.98);
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .login-type-container {
    display: flex;
    flex-direction: column;
  }
  .indise-login-type-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 400px;
    margin-top: 0px;
  }
  .role-btn {
    width: 200px;        
    height: 130px;
    flex-shrink: 0;
  }
}
