.recruiter-singup-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    background-size: cover;
    overflow: hidden;
}

.recruiter-signup-mini-container{
    border: 2px solid #000;
    padding: 55px;
    border-radius: 10px;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.login-link-container{
    margin-top: 15px;
    text-align: center;
}

